/* Estilo para o switch toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 44px; /* Largura reduzida */
  height: 24px; /* Altura reduzida */
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px; /* Tamanho do círculo reduzido */
  width: 18px;  /* Tamanho do círculo reduzido */
  left: 3px;   /* Posição ajustada */
  bottom: 3px; /* Posição ajustada */
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2563eb; /* Azul */
}

input:focus + .slider {
  box-shadow: 0 0 1px #2563eb;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px); /* Distância de movimento ajustada */
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Cantos arredondados */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
